# Python cache
__pycache__/
*.pyc

# System files
.DS_Store
Thumbs.db

# Folders to exclude
processed/
modbus_input/

# Logs and temporary files
*.log
*.tmp

# Ignore all joblib model binaries...
models/*

# ...except the final trained model
!models/modbus_rf_model.joblib

# Ignore build artifacts
build/
